AUTH_SERVICE_URI=http://auth-api:8001
PROJECT_SERVICE_URI=http://project-api:8002
GATEWAY_SERVICE_URI=http://gateway-api:8002
TASK_SERVICE_URI=http://task-api:8003
ASSET_SERVICE_URI=http://assets-api:8005
ANALYTICS_SERVICE_URI=http://analytics-api:8007

AUTH_URI=http://auth-api:8001/auth
USER_URI=http://auth-api:8001/user
ORGANIZATION_URI=http://project-api:8002/orgs
PROJECT_URI=http://project-api:8002/project
TASK_URI=http://task-api:8003/tasks
COMMENT_URI=http://task-api:8003/comment
UPLOAD_URI=http://upload-api:8004/api/assets
ASSET_URI=http://assets-api:8005/assets
ASSET_VARIANTS_URI=http://assets-api:8005/assetvariants
ANALYTICS_URI=http://analytics-api:8007/analytics

AUTH=auth
USER=user
ORGS=orgs
PROJECT=project
TASKS=tasks
COMMENT=comment
ASSETS=assets
ASSET_VARIANTS=assetvariants
ANALYTICS=analytics


AUTH_PORT=8001
MAIN_PORT=8000
PROJECT_PORT=8002
TASK_PORT=8003
UPLOAD_PORT=8004
ASSET_PORT=8005
WORKER_PORT=8006
ANALYTICS_PORT=8007

DATABASE_URL=postgresql://<Your_user_name>:<your_password>@<hostname>:5432/dampostgres?schema=public

DEV_ENV=developement
PROD_ENV=production

POSTGRES_USER=sobhan
POSTGRES_PASSWORD=dampostgres123
POSTGRES_DB=dampostgres

MONGO_USERNAME=sobhan
MONGO_PASSWORD=dammongodb123
MONGO_DB=dammongo

RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin123
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=dam

DATABASE_MONGO_URL=mongodb://<Your_user_name>:<your_password>@<hostname>:27017/dammongo?authSource=admin

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=admin123
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=axon-assets
MINIO_PUBLIC_URL=http://minio:9000

REDIS_USER=axon
REDIS_PORT=6379
REDIS_HOST=redis
REDIS_PASSWORD=admin123
REDIS_URI=redis://axon:admin123@localhost:6379

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_mail
MAIL_PASS=Mail pass
MAIL_FROM="mail_name <your_mail>"
MAIL_SECURE=false

ACCESS_TOKEN=your_accesstoken
REFRESH_TOKEN=your_refreshtoken 
ACCESS_TOKEN_EXPIRY="20m"
REFRESH_TOKEN_EXPIRY="30d"

TUS_TMP_DIR_PATH=/tmp/tus-uploads