services:
  postgres:
    image: postgres:15-alpine

    container_name: dam-postgres

    restart: always

    env_file:
      - .env

    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - '5432:5432'

    volumes:
      - dam-postgres-data:/var/lib/postgresql/data

    networks:
      - dam-network

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  dam-postgres-data:
    external: true

networks:
  dam-network:
    external: true
